{
  "tabWidth": 2,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ],
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true
}
